/* Základný obal Hero sekcie */
.obal-carousel {
    position: relative;
    overflow: hidden;
}

/* Nastavenie výšky slajdu */
.obal-carousel .carousel-item {
    /*vh je viewport height cize percento z aktualne vysky obrazovky 85%*/
    height: 85vh;
    min-height: 400px;
    background-color: #000000;
}

/* Obrázok v carouselu */
.obal-carousel .fotka-carousel {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Stmavenie obrázkov (Overlay) */
.obal-carousel .overlay-cez-carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.3) 20%, rgba(0,0,0,0.6) 100%);
    z-index: 1;
}

/* Centrovanie textu - špecifickejší selektor */
.obal-carousel .carousel-item .text-carousel {
    z-index: 2;
    bottom: 25%;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.moje-karty {
    position: relative;
    z-index: 10;
    margin-top: -60px; /* Tu si nastav presne, o koľko majú karty vyjsť hore */
}


.karta-info {
    z-index: 10;
    border-radius: 15px;
    transition: transform 0.3s ease;
    /* Žiadny okraj po bokoch, len hrubý pás hore */
    border: none;
    /*border-top: 5px solid #0d6efd;*/
    border-left: 5px solid #0d6efd;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1); /* tien aby karta na bielom nezanikla */
}

.karta-info:hover {
    transform: translateY(-10px);
}

/* RESPONZIVITA */
@media (max-width: 768px) {
    .obal-carousel .carousel-item {
        height: 60vh;
    }
    .obal-carousel .text-carousel h1 {
        /*rem jednotka odvodena z velkosti pisma prehliadaca*/
        font-size: 2.5rem;
    }
    .moje-karty {
        margin-top: -40px;
    }
}

@media (max-width: 576px) {
    .obal-carousel .carousel-item {
        height: 50vh;
    }
    .obal-carousel .text-carousel h1 {
        font-size: 1.8rem;
    }
}