
/* Make navbar text larger and bold */
.navbar .navbar-brand,
.navbar .nav-link,
.navbar .navbar-text {
    font-size: 25px;
    font-weight: bold;
    margin-right: 15px;
    color: #ffffff;
}

/* Zmenši logo na mobiloch */
@media (max-width: 768px) {
    .logo {
        width: 100px;
        margin: 10px 0;
    }
}

/* Menšie písmo na tabletoch/mobily */
@media (max-width: 768px) {
    .navbar-nav .nav-link {
        font-size: 18px;
        margin-right: 10px;
        text-align: center;
    }
}
